<footer role="“contentinfo”">
  <div id="geo-footer-container">
    <div id="geo-footer">
		<ul>
			<li>
			  <div id="geo-footer-img" class="span2">
				<%= link_to 'https://www.canarie.ca/' do %>
				  <%= image_tag "canarie.png", alt: "CANARIE", height: 45 %>
				<% end %>
			  </div>
			</li>
			<li>
			  <div id="geo-footer-img" class="span2">
				<%= link_to 'https://www.ubc.ca/' do %>
				  <%= image_tag "ubc.png", alt: "University Of British Columbia", height: 45 %>
				<% end %>
			  </div>
			</li>
			<li>
			  <div id="geo-footer-img" class="span2">
				<%= link_to 'https://www.frdr.ca/' do %>
				  <%= image_tag "frdr.png", alt: "Federated Research Data Repository", height: 45 %>
				<% end %>
			  </div>
			</li>
		</ul>
    </div>
  </div>
</footer>
